.service-page {
  text-align: center;
  padding: 20px;
  background-color: white;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.gallery img {
  max-width: 200px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.calculator {
  margin-top: 20px;
}

.calculator label {
  display: block;
  margin-bottom: 10px;
}

.calculator input {
  width: 100px;
  padding: 5px;
  margin-right: 10px;
}

.calculator button {
  padding: 5px 5px;
}

.total {
  margin-top: 20px;
  font-weight: bold;
}
